<% page = { 'title' : 'Overview: Home', 'key': 'OVERVIEW_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','overview/home.css'], 'js' : ['overview/home.js'] } %>

<%- partial('partials/overview-nav') %>

<img class="pageLogo" src="<%- img('guild.jpeg') %>" alt="Guild" />
<section>
  <h3><%- i18n("overview-fsguild-title") %></h3>
  <blockquote><%- i18n("overview-uchtdorf-quote") %></blockquote>
  <p> <%- i18n('overview-fsguild-p1') %></p>
  <p> <%- i18n('overview-fsguild-p1') %></p>

  <img src="<%- img('guildPyramid.png') %>" alt="Guild Pyramid" />

  <h3><%- i18n('overview-fsguild-levels-title') %></h3>
  <ul>
    <li>
        <h4><%- i18n('overview-fsguild-apprentice') %></h4>
        <p><%- i18n('overview-fsguild-apprentice-p1') %></p>
    </li>
    <li>
      <h4><%- i18n('overview-fsguild-journeyman') %></h4>
      <p><%- i18n('overview-fsguild-journeyman-p1') %></p>
    </li>
    <li>
      <h4><%- i18n('overview-fsguild-master') %></h4>
      <p><%- i18n('overview-fsguild-master-p1') %></p>
    </li>
  </ul>

  <blockquote><%- i18n('overview-fsguild-levels-quote') %></blockquote>

</section>

<section>
  <h3><%- i18n('overview-fsguild-building-skills') %></h3>
  <p><%- i18n('overview-fsguild-building-skills-p1') %></p>
  <ul>
    <li><a href="/frontier/home" title="<%- i18n('overview-fsguild-building-skills-tip1') %>"><%- i18n('overview-fsguild-building-skills-l1') %></a></li>
    <li><a href="/h5c3/home" title="<%- i18n('overview-fsguild-building-skills-tip2') %>"><%- i18n('overview-fsguild-building-skills-l2') %></a></li>
    <li><a href="/javascript/home" title="<%- i18n('overview-fsguild-building-skills-tip3') %>"><%- i18n('overview-fsguild-building-skills-l3') %></a></li>
    <li><a href="/qa/home" title="<%- i18n('overview-fsguild-building-skills-tip4') %>"><%- i18n('overview-fsguild-building-skills-l4') %></a></li>
  </ul>
  <p><%- i18n('overview-fsguild-building-skills-p2') %></p>

  <h4><%- i18n('overview-fsguild-building-skills-learning-time') %></h4>
  <p><%- i18n('overview-fsguild-building-skills-learning-time-p1') %></p>
  <p><%- i18n('overview-fsguild-building-skills-learning-time-p2') %></p>

  <h4><%- i18n('overview-fsguild-building-skills-ninja') %></h4>
  <p><%- i18n('overview-fsguild-building-skills-ninja-p1') %></p>
  <p><%- i18n('overview-fsguild-building-skills-ninja-p2') %></p>

  <h4><%- i18n('overview-fsguild-score-card') %></h4>
  <img src="<%- img('scorecard.png') %>" alt="Score Card" />
</section>












